/* https://s9a.page/tape */
:root{--tape-filter:none;--tape-bluv:#11dff1;--tape-play:#fbbfff;--tape-loud:#eee833;--tape-luvu:#44f477;--tape-blaq:#0e0e0e;--tape-watt:#e0e0e0;--tape-hex:#e0e0e0;--tape-mix:transparent}.tape-watt{--tape-hex:var(--tape-watt)}.tape-luvu{--tape-hex:var(--tape-luvu)}.tape-loud{--tape-hex:var(--tape-loud)}.tape-play{--tape-hex:var(--tape-play)}.tape-bluv{--tape-hex:var(--tape-bluv)}.tape-flat{border-color:transparent}.tape-flap{border-color:currentColor}.tape-flow{--tape-remix:none}.tape-flow :not(.tape-skip){background-color:transparent;color:inherit}.tape-blaq,.tape-bluv,.tape-loud,.tape-luvu,.tape-play,.tape-watt{--tape-mix:var(--tape-hex);--tape-remix:none;color:var(--tape-blaq)!important;background-color:var(--tape-mix)!important;background-image:var(--tape-remix);filter:var(--tape-filter)}.tape-blaq{--tape-mix:var(--tape-blaq);color:var(--tape-hex)!important}.tape-erase,.tape-erase *{color:transparent!important}

/* play */

:root {
  --tape-loud: peachpuff;
  --tape-luvu: powderblue;
  --tape-blaq: darkviolet;
}

::selection {
  background: darkviolet;
  color: wheat;
}

:focus {
  outline: .5rem dotted blueviolet;
}

@media (prefers-contrast: more) {
  :root { --tape-blaq: midnightblue }
  ::selection { background: purple }
  :focus { outline-color: indigo }
}

.poft {
  text-shadow:
    -1rem -1rem 1pc orange,
    -2rem -2rem 2pc orange,
    3rem -3rem 3pc springgreen,
    5rem -5rem 5pc springgreen;
}

.feet {
  text-shadow:
    0rem 1rem 1pc thistle,
    0rem 2rem 2pc thistle,
    0rem 3rem 3pc #bae,
    0rem 5rem 5pc #bae;
}

.wind {
  text-shadow:
    0rem -3rem 1pc aqua,
    0rem -2rem 2pc aqua,
    0rem -2rem 2pc mediumorchid,
    0rem -3rem 3pc mediumorchid;
}
